<div class="container">
    <h2>Los seis primeros Pokemon : </h2>
    <hr />
    <div class="columns">
        <div class="column">
            <p>En el orden del Pokemon : </p>
        </div>
    </div>
    <div class="columns is-multiline">
        <ul class="menu-list column is-one-third" *ngFor="let pokemon of pokemons">
            <li>
                <a> {{ pokemon.nombre }} </a>
                <img [src]="pokemon.img" alt="{{ pokemon.nombre }}" />
                <ul class="menu-list">
                    <li>Categoria: <span *ngIf="pokemon.categoria; else na"> {{ pokemon.categoria }}</span></li>
                    <li>Tipo: <span *ngIf="pokemon.tipo; else na"> {{ pokemon.tipo }}</span></li>
                    <li>Talla: <span *ngIf="pokemon.talla; else na"> {{ pokemon.talla | number:'1.0-2'}}</span></li>
                    <li>Peso: <span *ngIf="pokemon.peso; else na"> {{ pokemon.peso | number:'1.0-2'}} </span></li>
                    <ng-template #na>N/A</ng-template>
                </ul>
            </li>
        </ul>
    </div>
</div>