<div class="container">
    <h2>Los seis primeros Pokemon : </h2>
    <hr />
    <div class="columns">
        <div class="column">
            <p>En el orden del Pokedex : </p>
            <p *ngIf="pokemonSeleccionado">El pokemon seleccionado es: {{ pokemonSeleccionado.nombre }}</p>
        </div>
    </div>
    <div class="columns is-multiline">
        <ul class="menu-list column is-one-third" *ngFor="let pokemon of pokemons">
            <li>
                <app-pokemon [pokemon]=pokemon 
                (eventoClickImagen)=" pokemonSeleccionado=$event"></app-pokemon>
            </li>
        </ul>
    </div>
</div>